<form (submit)="generateNumbers($event)">
<button class="button" type="submit">New numbers</button>
<div class="numbers">
  <div class="container">
    <div class="number-1">{{numbers[0]}}</div>
    <div class="number-1">{{numbers[1]}}</div>
    <div class="number-1">{{numbers[2]}}</div>
    <div class="number-1">{{numbers[3]}}</div>
    <div class="number-1">{{numbers[4]}}</div>
  </div>
</div>
</form>
