.button {
  padding: 10px 10px;
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.numbers {
  margin-left: 40%;
  margin-top: 50px;
}

.container div {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #fff;
  border: 2px solid black;
  color: blue;
  text-align: center;
  font: 32px Arial, sans-serif;
  display: inline-block;
  margin: 0 10px;
}
